@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #444;
}
